<h1><%= @category.name %></h1>
<!-- category show page -->

<!-- list all items from current category -->
<div class="container">
    <% @items.each do |item| %>
        <div class="item" id="index_item">
            <% if item.image.attached? %>
                <div>
                    <%= cl_image_tag(item.image.key, crop: :scale, width: 200, cloud_name: "dsrp2dd5i") %>
                </div>
            <% end %>
            <div class="container">
                <div class="item">
                    <h5><%= link_to item.title, item_path(item.id) %></h5>
                </div>
                <div class="item">
                    <h3>$<%= "%.2f" % item.price %></h3>
                </div>
            </div>
        </div>
    <% end %>
</div>